.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
header {
  background-color: #333;
  color: #fff;
  padding: 10px 0;
}

.navbar {
  background-color: #333;
}

.navbar-brand {
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  margin-right: 20px;
  text-decoration: none;
}

.navbar-brand:hover {
  color: #fff;
  text-decoration: none;
}

.nav-link {
  color: #fff;
  font-size: 18px;
  margin: 0 10px;
  text-decoration: none;
}

.nav-link:hover {
  color: #fff;
  text-decoration: none;
}

/* Estilos de contenido en la página principal y otras páginas */
/* Agrega estilos específicos de página según tus necesidades */

/* Añadir estilos para el menú horizontal */
.navbar-nav {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0;
}

.nav-item {
  margin: 0;
}

.nav-link {
  text-decoration: none;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

.sticky-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #333;
  color: #fff;
  padding: 20px 0;
  text-align: center;
  z-index: 1; /* Puedes ajustar esto según tus necesidades */
}


/* Estilos de enlaces en el pie de página */
.footer-link {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  margin: 0 10px;
}

.footer-link:hover {
  text-decoration: underline;
}

.creacion-card {
  display: flex;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
  background-color: #fff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
  text-decoration: none;

}

.creacion-card:hover {
  transform: scale(1.03);
}

.creacion-image {
  flex: 40%;
  padding: 10px;
  text-align: center;
}

.creacion-image img {
  max-width: 100%; /* Establece un tamaño máximo del 100% para que todas las imágenes sean del mismo tamaño */
  height: auto;
  border-radius: 5px;
}

.creacion-info {
  flex: 60%;
  padding: 10px;
}

.creacion-info h2 {
  font-size: 30px;
  margin: 0;
  color: #333;
  text-decoration: none;

}

.creacion-info p {
  font-size: 17px;
  color: #777;
  margin: 5px 0;
  text-decoration: none;

}

.creacion-info a {
  display: inline-block;
  background-color: #007bff;
  color: #fff;
  padding: 5px 10px;
  text-decoration: none;
  border-radius: 3px;
  margin-top: 10px;
  font-weight: bold;
}

.creacion-info a:hover {
  background-color: #0056b3;
}
.mis-creaciones-container {
  background-color: #E8E8E8;

}
.creaciones-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #E8E8E8;
}

.creacion-card {
  display: flex;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
  background-color: #fff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
  text-decoration: none;
}

.creacion-card:hover {
  transform: scale(1.03);
}

.creaciones-column {
  flex: 0 0 calc(50% - 20px); /* 50% width with 20px spacing between columns */
  margin: 10px;
  box-sizing: border-box;
}

.creacion-card a {
  text-decoration: none;
}

/* Eliminar subrayado en hover */
.creacion-card a:hover {
  text-decoration: none;
}

/* Restaurar estilos de los textos h2 y p */
.creacion-card h2, .creacion-card p {
  text-decoration: none !;
}

/* Restaurar estilos en hover para h2 y p */
.creacion-card h2:hover, .creacion-card p:hover {
  text-decoration: none;
}


.home-page .creaciones-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  
}


.home-page .creacion-card {
  flex: 0 0 calc(33.33% - 20px); /* 33.33% width with 20px spacing between columns */
  margin: 10px;
  box-sizing: border-box;
}
.info-content {
  background-color: #E8E8E8;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  color: #333;
  min-height: calc(100vh - 80px);
}

.info-content h1 {
  font-size: 36px;
  
}

.info-content p {
  font-size: 20px;
  color: #555;
}

.info-content h2 {
  font-size: 28px;
  color: #333;
  margin-top: 20px;
}

.info-content ul {
  list-style: disc;
  margin-left: 20px;
  font-size: 20px;

}

.info-content li {
  margin: 10px 0;
}

.detalle-creacion {
  text-align: center;
  max-width: 100%;
  margin: 0 auto;
}

.detalle-creacion-content {
  max-width: 100%; 
  margin: 0 auto;
  background-color: #E8E8E8;

  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.detalle-creacion h1 {
  font-size: 30px;
  color: #333;
  margin: 10px 0;
}

.detalle-creacion p {
  font-size: 18px;
  color: #555;
  margin: 10px 0;
}

.detalle-creacion img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
  margin: 20px 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.favorito-button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.favorito-button:hover {
  background-color: #0056b3;
}

